/vendor
/node_modules
/.env
/.env.*
/public/storage
/storage/*.key
/.idea
/.vscode
/.phpunit.result.cache
Homestead.yaml
Homestead.json
/.sass-cache
/.phpunit.result.cache
.env.backup

# Docker
/docker-compose.override.yml
/.docker

# compiled files
/public/hot
/public/storage
 /storage/*.key
 /app/vendor
 /app/node_modules
